<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400|Montserrat:400,700">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link href="{{ "/assets/lib/bootstrap/css/bootstrap.min.css" }}" rel="stylesheet" />
    <link href="{{" /assets/css/main.css" }}" rel="stylesheet" />

    <!-- js -->
    <script src="{{ " /assets/lib/jquery.min.js" }}" charset="utf-8"></script>
    <script src="{{ " /assets/lib/bootstrap/js/bootstrap.min.js" }}" charset="utf-8"></script>
</head>
