<div class="row">
  <div class="col-md-12">
    <div id="header-stripe">
      <figure id="logo">
        <a href="{{ site.baseurl }}"></a>
      </figure>
      <h1>Temp_1</h1>
      <h2>Temp_2</h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-7 col-md-offset-2" id="about-me">
    <h3 style="font-weight: bold;">Temp_about_me</h3>
    <p>temp_content</p>
  </div>
  <div class="col-md-3" id="contacts">
    <h3 style="font-weight: bold; color: #3a4145;">Temp_temp</h3>
    {% include contact.html %}
  </div>
</div>
