<div class="row">
  <div class="col-md-12">
    <div id="header-stripe">
      <figure id="logo">
        <a href="{{ site.baseurl }}"></a>
      </figure>
      <h1>Oleksandr Mostepaniuk</h1>
      <h2>Stop stopping</h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-7 col-md-offset-2" id="about-me">
    <h3 style="font-weight: bold;">About Me</h3>
    <p>{{ site.data.i18n[page.language].about_me_content }}</p>
  </div>
  <div class="col-md-3" id="contacts">
    <h3 style="font-weight: bold; color: #3a4145;">Contacts</h3>
    {% include contact.html %}
  </div>
</div>
