<article class="post-item row">
  <header class="col-md-8 col-md-offset-2">
    <p class="post-item-suptitle">
      By <a href="">{{ post.author }}</a>
      on {{ post.date | date: "%-d %b, %Y" }}
    </p>
  </header>
  <div class="col-md-8 col-md-offset-2">
    <div class="post-item-content">
      <h2 class="post-item-title">
        <a href="{{ site.baseurl }}{{ post.url }}">{{ include.post.title }}</a>
      </h2>
      <div class="post-item-body">
        {{ include.post.excerpt | remove: '<p>' | remove: '</p>' }}
        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">»</a>
      </div>
      <div class="post-item-actions">
        {% include share.html url=include.post.url title=include.post.title %}
      </div>
    </div>
  </div>
</article>
