@mixin underline($color, $width: 100%)
  &::before
    content: ""
    position: absolute
    top: calc(100% - 1px)
    left: 0
    width: $width
    height: 1px
    background: $color

@mixin translate($value)
  -moz-transform: translate($value)
  -ms-transform: translate($value)
  -webkit-transform: translate($value)
  transform: translate($value)

@mixin transition ($duration, $effect)
  -webkit-transition: all $duration $effect
  -moz-transition: all $duration $effect
  -ms-transition: all $duration $effect
  transition: all $duration $effect