---
---

@import _colors.sass
@import _utils.sass

html, body
  font-size: 100%

// old styling (for refactoring): start

body
  font-family: Merriweather, serif
  padding-bottom: 60px

/* Bootstrap Overrides */
.navbar
  border-radius: 0
  margin-bottom: 0
  min-height: 40px

.navbar-nav > li > a
  padding-top: 10px
  padding-bottom: 10px

.navbar-brand
  height: 40px
  line-height: 10px

.navbar-default .navbar-brand
  color: #000
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size: 15px

.navbar-default .navbar-brand > span:first-child
  font-size: 16px
  font-weight: 700

.navbar-default
  background-color: #FFF
  border-bottom: 1px solid rgba(0, 0, 0, 0.125)

ul.nav.navbar-nav li a
  font-family: 'Open Sans', arial, helvetica, tahoma, sans-serif
  font-weight: 600
  font-size: 13px
  text-transform: uppercase
  color: #000

ul.lang-selector
  margin-left: 15px

ul.nav.navbar-nav.lang-selector li a
  padding-left: 5px
  padding-right: 5px
  font-weight: 400

ul.nav.navbar-nav.lang-selector li a.active
  color: green

/* Index page */

main
  font-family: "Open Sans", sans-serif

div#header-stripe
  padding: 32px

div#header-stripe h1
  margin-bottom: 8px
  text-align: center
  color: #3a4145
  font-weight: bold

div#header-stripe h2
  margin-top: 0
  text-align: center
  color: #AAA
  font-family: Merriweather, serif
  font-weight: normal

figure#logo
  width: 110px
  height: 110px
  border: 5px solid #F3A500
  border-radius: 100%
  margin: 0 auto

figure#logo a
  display: block
  width: 90px
  height: 90px
  background-color: #F3A500
  margin: 5px auto
  border-radius: 100%

div#about-me p
  font-family: Merriweather, sans-serif
  color: #2e2e2e
  font-size: 16px

div#contacts a
  color: #111
  display: block
  height: 30px

/* Footer */

footer
  border-top: 1px solid #CACACA
  padding-top: 10px
  padding-bottom: 10px
  color: #AAA
  background-color: #FFF

footer > div.ft-left
  padding-left: 10px
  float: left

footer > div.ft-right
  padding-right: 10px
  float: right

footer a
  color: #AAA
  font-size: 16px

footer a > i.fa
  width: 20px

// old styling (for refactoring): end

/* Blog Posts */

.page-header
  text-align: center
  border-bottom: none
  color: $dark-grey

.page-title
  position: relative
  padding-bottom: 1rem
  font-size: 2.25rem
  font-weight: 700

  &:before
    position: absolute
    top: calc(100% - 1px)
    left: 50%
    width: 2rem
    height: 1px
    content: ""
    background: $dark-grey
    -moz-transform: translate(-50%)
    -ms-transform: translate(-50%)
    -webkit-transform: translate(-50%)
    transform: translate(-50%)

.page-suptitle
  color: $light-gray
  font-size: 1rem
  text-transform: uppercase

  & a
    color: rgba(0, 0, 0, 0.8)

    &:hover
      text-decoration: none
      color: $light-gray

.page-introduction
  font-size: 1.5rem
  color: $dark-grey
  font-weight: 300

  // font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif
  // font-style: normal
  // outline-color: $dark-grey
  // outline-style: none
  // outline-width: 0px

// old styling (for refactoring): start
article.post-item
  font-family: "Open Sans", sans-serif
  border-bottom: 1px solid #EEE
  padding-bottom: 20px
  padding-top: 40px

article.post-item:last-child
  border-bottom: none

aside.post-date
  padding-top: 65px
  font-weight: 700
  /*color: #3A4145*/
  color: #4c5859

aside.post-date > div
  text-align: center

aside.post-date > div.post-date-day
  font-size: 36px
  height: 40px

aside.post-date > div.post-date-month, div.post-date-year
  font-size: 22px
  height: 20px

.post-item-title
  margin-top: 0
  font-weight: bold

  & > a
    font-weight: 700
    font-size: 32px
    color: $grey
    text-decoration: none

  & > a:hover
    transition-property: all
    transition-duration: 0.2s
    -moz-transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82)
    -webkit-transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82)
    -ms-transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82)
    transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82)
    color: $yellow

aside.pre-post-item-meta
  height: 20px
  margin-top: 10px
  margin-bottom: 10px

aside.pre-post-item-meta > span, aside.post-item-meta > span
  color: #AAA
  padding-right: 10px
  margin-right: 10px
  border-right: 1px solid #DDD

aside.post-item-meta
  padding-top: 10px
  padding-bottom: 10px
  margin-bottom: 10px
  font-size: 13px
/*  border-bottom: 1px solid #DDD
  border-top: 1px solid #DDD*/

div.post-item-body
  font-family: Merriweather, sans-serif
  font-size: 16px
  color: #2E2E2E
  line-height: 28px
  text-align: justify

div.post-item-actions
  margin-top: 15px

/* FIXME: maybe use aside as a container? */
div.post-item-actions a
  color: #AAA
  font-size: 16px

// // old styling (for refactoring): end
