---
layout: default
---
<article class="row">
  <aside class="col-md-2 post-date">
    <div class="post-date-month">{{ page.date | date: "%b" }}</div>
    <div class="post-date-day">{{ page.date | date: "%-d" }}</div>
    <div class="post-date-year">{{ page.date | date: "%Y" }}</div>
  </aside>
  <div class="col-md-8">
    <div class="post-item-content">
      <aside class="pre-post-item-meta">
      <!--
        <span><i class="fa fa-user"></i>&nbsp;by Oleksandr Mostepaniuk</span>
        <span><i class="fa fa-clock-o"></i>&nbsp;10 min read</span>
        <span></span>
      -->
      </aside>
      <h2 class="post-item-title">{{ page.title }}</h2>
      <aside class="post-item-meta">
        <span><i class="fa fa-calendar">&nbsp;{{ page.date | date: "%-d %b, %Y" }}</i></span>
        <span><i class="fa fa-user"></i>&nbsp;by {{ page.author }}</span>
        <span>
          <i class="fa fa-tags">&nbsp;
            {% for tag in page.tags %}
            {{ tag }}
            {% endfor %}
          </i>
        </span>
        <!--
        <span><i class="fa fa-clock-o"></i>&nbsp;10 min read</span>
        -->
      </aside>
      <div class="post-item-body">
        {{ content }}
      </div>
      <div class="post-item-actions">
        {% include share.html url=page.url title=page.title %}
      </div>
    </div>
  </div>
</article>
